@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* --- CONFIGURATION GÉNÉRALE --- */
body {
  /* Cache la souris windows (car tu as ton CustomCursor) */
  cursor: none;

  /* Empêche de surligner/sélectionner le texte en bleu */
  user-select: none;
  -webkit-user-select: none;
  /* Pour Safari */
  -moz-user-select: none;
  /* Pour Firefox */
  -ms-user-select: none;
  /* Pour Edge/IE */
}

/* --- PROTECTION DES IMAGES --- */
img {
  /* Empêche de prendre l'image et de la faire glisser (drag & drop) */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  /* Empêche de sélectionner l'image comme du texte */
  pointer-events: none;
}

/* Exception : Si l'image est dans un lien ou un bouton, on laisse le clic passer au parent */
a img,
button img {
  pointer-events: none;
}

/* Le lien lui-même reste cliquable */
a,
button {
  pointer-events: auto !important;
  cursor: none;
  /* On garde le curseur invisible */
}

/* --- EXCEPTION POUR LES FORMULAIRES (Important !) --- */
/* Sinon les gens ne peuvent pas cliquer pour écrire leur nom/message */
input,
textarea,
select {
  user-select: text;
  /* On autorise la sélection du texte ici */
  -webkit-user-select: text;
  cursor: text;
  /* Affiche le petit trait vertical quand on écrit */
  pointer-events: auto !important;
}

/* --- TEXTURE GRAIN (Fond papier) --- */
.bg-noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  /* Le clic passe au travers */
  z-index: 50;
  opacity: 0.05;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

/* --- SCROLLBAR --- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f4;
}

::-webkit-scrollbar-thumb {
  background-color: #78350f;
  border-radius: 4px;
  border: 2px solid #f5f5f4;
}